:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

@media screen and (min-width: 1158px) {
  .container-hero .container-features,
  .section-img .section-4 .customers,
  .footer {
    min-width: 1199px;
  }
  .comainer-footer-txt {
    margin: 0;
  }
  .menu-open-btn {
    display: none;
  }
  .container-header {
    display: flex;
  }
  .feature-svg {
    display: block;
  }
  .container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
  .feature .list {
    display: flex;
    gap: 24px 72px;
  }

  .hero {
    min-width: 1158px;
  }
  .list-examples {
    justify-content: center;
  }
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer {
    display: flex;
    gap: 120px;
  }
  .social-media-block {
    text-align: left;
  }
  .header {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .current::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);
  }

  .container-footer {
    display: flex;
    flex-direction: row;

    margin: 0 auto;
  }
  .menu-open-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .container-footer-txt {
    margin-right: 120px;
  }
  .feature-item .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    text-align: left;
  }
  .email-input-form {
    gap: 24px;
    display: flex;
    flex-direction: row;
  }
  .email-input-title {
    display: inline-block;
    text-align: left;
  }
  .container-footer-txt {
    text-align: left;
  }
  .input-email {
    width: 264px;
    display: inline-block;
  }

  .social-media-block {
    margin: 0;
    margin-right: 80px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-img {
    display: block;
  }
  .feature-item-box {
    display: flex;
  }
}
/* @media only screen and (max-width: 1024px) {
  .section-img {
    display: block;
  }
  .feature-item-box {
    display: block;
    visibility: hidden;
  }
} */
